{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/appliedjobs.css' %}">
{% endblock %}
{% block content %}
<main>
    <div class="header">
        <div class="top-container">
            <div class="header-top">
                
                <button class="track-btn">📈 Track Progress</button>
            </div>
            <h1 class="page-title">My Applications</h1>
            <p class="app-count  <span class="app-count">{{ applications|length }}</span> applications submitted</p>
        </div>
    </div>

{% if applications %}
    {% for app in applications %}
    <div class="card mb-3">
        <div class="card-body">
            <h5>{{ app.job.title }}</h5>
            <p>{{ app.job.company }} — {{ app.job.location }}</p>
            <p>{{ app.job.type }} | {{ app.job.time }} | {{ app.job.salary }}</p>
            <small>Applied on: {{ app.applied_at|date:"d/m/Y" }}</small>
        </div>
    </div>
    {% endfor %}
{% else %}
     <div class="atop">
    <p>You have not applied for any jobs yet.</p>
    <a href="/jobs/search/" class="brow-btn">Browse Jobs</a>
    </div>
{% endif %}
</main>
{% endblock %}