{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/appliedjobs.css' %}">
{% endblock %}

{% block content %}

<main>
 {% if messages %}
  <div class="messages-container">
    {% for message in messages %}
      {% if "apply" in message.tags %}
        <div class="toast {{ message.tags }}">
          <i class="ti ti-circle-check"></i>
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
  <div class="header">
    <div class="top-container">
      <div class="header-top">
        <button class="track-btn">📈 Track Progress</button>
      </div>

      <h1 class="page-title">Applied Jobs</h1>

      <!-- FIXED -->
      <p class="app-count">
        <span class="app-count">{{ applications|length }}</span> applications submitted
      </p>
    </div>
  </div>

  <div class="container">
    <div class="content-section">

      {% for app in applications %}
      <div class="job-card">

        <div class="job-info">
          <div class="cover">
            {% if app.job.cover %}
              <img src="{{ app.job.cover }}" alt="{{ app.job.title }}">
            {% else %}
              <img src="{% static 'default-avatar.png' %}" alt="">
            {% endif %}
          </div>

          <!-- نفس class job-text القديمة -->
          <div class="job-text">
          <h3>{{ app.job.title }}</h3>
          <p class="comp">{{ app.job.company }}</p>
          <p class="loc">{{ app.job.location }}</p>
          <p class="sal">{{ app.job.salary }}</p>
          <span>Applied at: {{ app.applied_at }}</span>
</div>
        </div>

        <!-- نفس job-actions -->
        <div class="job-actions">

          <!-- status dynamic -->
          <span class="status {{ app.status }}">
            {{ app.get_status_display }}
          </span>

          <!-- بدل view letter -->
          <a href="{% url 'jobDetails' app.job.id %}" class="view-btn">
            View Job
          </a> 
          <a href="{% url 'cancel_application' app.id %}" class="cancel-btn">
            Cancel
          </a>

        </div>

      </div>
      {% empty %}
      <div class="atop">
        <p>No applications yet.</p>
        <a href="{% url 'search' %}" class="brow-btn">Browse Jobs</a>
      </div>
      {% endfor %}

    </div>
  </div>
</main>

{% endblock %}