{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/appliedjobs.css' %}">
{% endblock %}

{% block content %}

<main>
  <div class="header">
    <div class="top-container">
      <div class="header-top">

        <button class="track-btn">📈 Track Progress</button>
      </div>
      <h1 class="page-title">Applied Jobs</h1>
      <p class="app-count"><span id="job-count">0</span> applications submitted</p>
    </div>
  </div>

  <div class="content-section">
    <div class="container" id="job-container">
    </div>
  </div>
</main>



{% block scripts %}
<script src="{% static 'js/applied.js' %}"></script>
{% endblock %}

{% endblock %}