{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/compare.css' %}">
{% endblock %}

{% block content %}
<main>
  <div class="hero">
    <h1>Compare Jobs</h1>
    <h4>Compare jobs side by side and choose the opportunity that fits you best.</h4>
  </div>

  <div class="big">
    <a href="{% url 'search' %}" class="btn">← Back to Search</a>

    <div class="name">
      {% for job in jobs %}
      <div class="n">
        <div class="head">
          <h2 class="title">{{ job.title }}</h2>
        </div>
        <h3 class="comp">{{ job.company }}</h3>
      </div>
      {% endfor %}
    </div>

    <div class="card">
      <div class="data">
        <ul>
          <li class="money">Salary</li>
          <li class="location">Location</li>
          <li class="type">Type</li>
          <li class="ex">Experience</li>
          <li class="benifited">Benefits</li>
        </ul>
      </div>

      {% for job in jobs %}
      <div class="job">
        <div class="info">
          <li class="salary">{{ job.salary }}</li>
          <li class="Location">{{ job.location }}</li>
          <li class="Type">{{ job.type }}</li>
          <li class="Experience">{{ job.exp }}</li>

          <ul class="benifit">
            {% for b in job.benefit %}
              <li>{{ b }}</li>
            {% endfor %}
          </ul>

          <li class="b">
            <a href="{% url 'apply_job' job.id %}" class="apply">Apply</a>
            <a href="{% url 'remove_from_compare' job.id %}" class="remove-btn">
  ❌ Remove
</a>
          </li>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}