{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ job.title }}</title>

    <link rel="stylesheet" href="{% static 'css/jobdetails.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>

<body>

<header>
<nav class="nav">
    <a href="{% url 'home' %}" class="logo">
        <p class="slog">Saboba</p>
    </a>

    <ul class="links"></ul>

    <div class="right">
        <div class="logs"></div>
    </div>
</nav>
</header>

<div class="hero"></div>

<main>
<div class="card shadow">

    <button>
        <a href="{% url 'search' %}">⬅ Back to Jobs</a>
    </button>

    <!-- صورة -->
    <img src="{{ job.image.url }}" width="100%" height="300px">

    <!-- العنوان -->
    <div class="head">
        <h1>{{ job.title }}</h1>
    </div>

    <!-- الشركة -->
    <h3>{{ job.company }}</h3>

    <!-- الوقت -->
    <ul>
        <li>{{ job.created_at }}</li>
    </ul>

    <!-- Tags -->
    <ul class="tags">
        {% for tag in job.tags.all %}
            <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>

    <!-- معلومات -->
    <ul class="info">
        <li>
            <h5>Salary</h5>
            <span>{{ job.salary }}</span>
        </li>

        <li>
            <h5>Location</h5>
            <span>{{ job.location }}</span>
        </li>

        <li>
            <h5>Type</h5>
            <span>{{ job.job_type }}</span>
        </li>

        <li>
            <h5>Experience</h5>
            <span>{{ job.experience }}</span>
        </li>
    </ul>

</div>

<div class="grid">

    <!-- التفاصيل -->
    <div class="details">

        <div class="bord">
            <div class="shadow">
                <h2>About this role</h2>
                <p>{{ job.description }}</p>
            </div>
        </div>

        <!-- Requirements -->
        <div class="bord">
            <div class="shadow">
                <h2>Requirements</h2>
                <ul>
                    {% for req in job.requirements.all %}
                        <li>{{ req.text }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Benefits -->
        <div class="bord">
            <div class="shadow">
                <h2>Benefits & Perks</h2>
                <ul>
                    {% for b in job.benefits.all %}
                        <li>{{ b.text }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

    <!-- الشركة -->
    <div class="Comp">

        <div class="shadow">
            <h2>About company</h2>

            <ul>
                <li>{{ job.company_location }}</li>
                <li>{{ job.employees_count }} employees</li>
            </ul>
        </div>

        <div class="apply">
            <form method="post">
                {% csrf_token %}
                <button type="submit">Apply Now</button>
            </form>
        </div>

    </div>

</div>

</main>

<footer class="footer">
    <div class="footer__inner">
        <div class="footer__bottom">
            <span>© 2026 JobFlow</span>
        </div>
    </div>
</footer>

</body>
</html>