<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Search Jobs</title>
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
</head>
<body>

<!-- HERO -->
<section class="hero">
    <h1>Find Your Job</h1>
    <h4>Search & filter easily</h4>
</section>

<!-- SEARCH BOX -->
<div class="float">
    <div class="filter">

        <div class="searchdiv">
            <input id="search" type="text" placeholder="Search job title...">

            <select id="location">
                <option>all locations</option>
                <option>Cairo</option>
                <option>Remote</option>
            </select>

            <select id="Types">
                <option>all types</option>
                <option>Full-time</option>
                <option>Part-time</option>
                <option>Freelance</option>
            </select>

            <select id="Tags">
                <option>all-tags</option>
                <option>React</option>
                <option>Django</option>
                <option>UI</option>
            </select>

            <button id="f">Filters</button>
            <button id="reset">Reset</button>
        </div>

    </div>
</div>

<!-- JOBS -->
<main>

    <h3>Available Jobs</h3>

    <section class="job">
        <div class="job-list">

            {% for job in jobs %}
            <div class="job-card">

                <img class="cover" src="{{ job.cover }}" alt="">

                <h2 class="job-name">{{ job.title }}</h2>

                <p class="company">{{ job.company }}</p>

                <ul class="details">
                    <li class="type">{{ job.type }}</li>
                    <li class="location">{{ job.location }}</li>
                    <li class="money">{{ job.salary }}</li>
                </ul>

                <ul class="tag">
                    {{ job.tags }}
                </ul>

                <hr>

                <div class="foot">
                    <span class="timestamp">Now</span>

                    <button class="view">
                        <a href="#">View</a>
                    </button>
                </div>

            </div>
            {% endfor %}

        </div>
    </section>

</main>

<script src="{% static 'js/filter.js' %}"></script>

</body>
</html>