{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}
<!-- HERO -->
<section class="hero">
    <h1>Find Your Job</h1>
    <h4>Search & filter easily</h4>
</section>

<!-- SEARCH BOX -->
<div class="float">
    <div class="filter">

        <div class="searchdiv">
            <form method="GET">

                <input name="q" value="{{ request.GET.q }}" id="search" type="text" placeholder="Search job title...">
                <button type="submit">Search</button>


                <select id="location">
                    <option>all locations</option>
                    <option>Cairo</option>
                    <option>Giza</option>
                    <option>Alexandria</option>
                    <option>New york</option>
                    <option>San Francisco</option>
                    <option>London</option>
                    <option>Dubai</option>
                    <option>Abu Dhabi</option>
                    <option>Qatar</option>
                    <option>Aswan</option>
                    <option>Remote</option>
                </select>

                <select id="Types">
                    <option>all types</option>
                    <option>Full-time</option>
                    <option>Part-time</option>
                    <option>Freelance</option>
                    <option>Contract</option>
                    <option>Intership</option>
                </select>

                <select id="Tags">
                    <option>all-tags</option>
                    <option>React</option>
                    <option>Django</option>
                    <option>CSS</option>
                    <option>JavaScript</option>
                    <option>TypeScript</option>
                    <option>HTML</option>
                    <option>UI</option>
                    <option value="tech">Tech & IT</option>
                    <option value="design">Design & Creative</option>
                    <option value="marketing">Marketing & Sales</option>
                    <option value="finance">Finance & Accounting</option>
                    <option value="healthcare">Healthcare</option>
                    <option value="education">Education & Training</option>
                    <option value="hospitality">Hospitality & Travel</option>
                    <option value="media">Media & Communication</option>
                    <option value="legal">Legal & Consulting</option>
                    <option value="React">React</option>
                    <option value="Python">Python</option>
                    <option value="JavaScript">JavaScript</option>
                    <option>Node.js</option>
                    <option>Vue</option>
                    <option>Angular</option>
                    <option>Django</option>
                    <option>Flutter</option>
                    <option>Senior</option>
                    <option>Junior</option>
                    <option>Intern</option>
                    <option>Lead</option>
                    <option>Manager</option>
                    <option>Design</option>
                    <option>Frontend</option>
                    <option>Backend</option>
                    <option>Full Stack</option>
                    <option>UI/UX</option>
                    <option>DevOps</option>
                    <option>Data Science</option>
                    <option>Machine Learning</option>
                    <option>Mobile</option>
                    <option>Cybersecurity</option>
                    <option>Remote</option>
                    <option>Hybrid</option>
                    <option>On-site</option>
                    <option>Other</option>
                </select>

                <button id="f">Filters</button>
                <button id="reset">Reset</button>
        </div>
        </form>
    </div>
</div>

<!-- JOBS -->
<main>

    <h3>Available Jobs</h3>

    <section class="job">
        <div class="job-list">

            {% for job in jobs %}
            <div class="job-card">

                <img class="cover" src="{{ job.cover }}" alt="">

                <h2 class="job-name">{{ job.title }}</h2>

                <p class="company">{{ job.company }}</p>

                <ul class="details">
                    <li class="type">{{ job.type }}</li>
                    <li class="location">{{ job.location }}</li>
                    <li class="money">{{ job.salary }}</li>
                </ul>

                <ul class="tag">
                    {% for tag in job.tags %}
                    <li>{{ tag }}</li>
                    {% endfor %}
                </ul>

                <hr>

                <div class="foot">
                    

                    <button class="view">
                        <a href="{% url 'jobDetails' job.id %}">View details</a>
                    </button>

                    

                    
                        <a href="{% url 'toggle_save_job' job.id %}" 
   class="saved {% if job.id in saved_ids %}saved--active{% endif %}">

<svg width="24" height="24" viewBox="0 0 24 24">
  <path
    d="M4.45067 13.9082L11.4033 20.4395C11.6428 20.6644 11.7625 20.7769 11.9037 20.8046C11.9673 20.8171 12.0327 20.8171 12.0963 20.8046C12.2375 20.7769 12.3572 20.6644 12.5967 20.4395L19.5493 13.9082C21.5055 12.0706 21.743 9.0466 20.0978 6.92607L19.7885 6.52734C17.8203 3.99058 13.8696 4.41601 12.4867 7.31365C12.2913 7.72296 11.7087 7.72296 11.5133 7.31365C10.1304 4.41601 6.17972 3.99058 4.21154 6.52735L3.90219 6.92607C2.25695 9.0466 2.4945 12.0706 4.45067 13.9082Z"
    fill="{% if job.id in saved_ids %}#EF4343{% else %}none{% endif %}"
    stroke="#EF4343"
    stroke-width="2"
  />
</svg>

</a>
                    

                    <a href="{% url 'compare' job.id %}" 
   class="compare-btn {% if job.id in compare_ids %}active{% endif %}">
    <svg width="22" height="22" viewBox="0 0 24 24">
        <path d="M10 3H5a2 2 0 0 0-2 2v5M14 21h5a2 2 0 0 0 2-2v-5M21 10V5a2 2 0 0 0-2-2h-5M3 14v5a2 2 0 0 0 2 2h5"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"/>
    </svg>
</a>


                </div>

            </div>
            {% endfor %}

        </div>
    </section>

</main>

{% block scripts %}
<script src="{% static 'js/search.js' %}"></script>
{% endblock %}
{% endblock %}