<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Find Jobs</title>

  <link rel="stylesheet" href="{% static 'css/search.css' %}">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>

<body>

<header>
  <nav class="nav">
    <a href="{% url 'home' %}" class="logo">
      <p class="slog">Saboba</p>
    </a>

    <ul class="links" id="links"></ul>
    <div class="right">
      <div class="logs" id="logs"></div>
    </div>
  </nav>
</header>

<main>

  <div class="float">
    <div class="hero">
      <h1>Find Jobs</h1>
      <h4>Discover your next career opportunity</h4>
    </div>

    <input type="text" name="q" id="search" placeholder="Search Jobs...">

<select name="location">
<select name="type">
<select name="tags">

    <!-- 🔥 FORM -->
    <form class="filter" method="GET" action="{% url 'search' %}">
      <div class="searchdiv">
        <input type="text" name="q" id="search"
               placeholder="Search Jobs..."
               value="{{ request.GET.q }}">

        <button id="f" type="submit">Search</button>

        <a id="reset" href="{% url 'search' %}">X Cancel</a>
      </div>
    </form>
  </div>

  <h3>Jobs Found</h3>

  <!-- 🔥 JOBS -->
  <div class="job">
    <div class="job-list">

      {% for job in jobs %}
      <div class="job-card">

        <img class="cover" src="{{ job.cover }}" alt="job image">

        <div class="head">
          <h2 class="job-name">{{ job.title }}</h2>
        </div>

        <p class="company">{{ job.company }}</p>

        <ul class="details">
          <li class="typetag">{{ job.type }}</li>
          <li class="loctag">{{ job.location }}</li>
          <li class="money">{{ job.salary }}</li>
        </ul>

        <!-- لو tags string -->
        <ul class="tag">
          {% for tag in job.tags.split %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>

        <hr>

        <div class="foot">
          <div class="timestamp">{{ job.time }}</div>

          <button class="view">
            <a href="{% url 'jobDetails' job.id %}">View Details</a>
          </button>
        </div>

      </div>
      {% empty %}
        <p style="text-align:center;">No jobs found</p>
      {% endfor %}

    </div>
  </div>

</main>

<footer class="footer">
  <div class="footer__inner">
    <div class="footer__bottom">
      <span>© 2026 Saboba. All rights reserved.</span>
    </div>
  </div>
</footer>

<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/logout.js' %}"></script>

</body>
</html>